/* Common Styles For All Elements */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

:root{
    --themeRed:#e43a47;
    --grey: #efefef;
}

html{
    scroll-behavior: smooth;
}

button,
body{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
}

.fullcontainer{
    width: 100%;
}

.container{
    width: 1140px;
    margin: auto;
}

.sectionTitle{
    width: 300px;
    border-bottom: 3px solid var(--themeRed);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 50px 0 15px 0;
    text-transform: uppercase;
}

.sectionTitle::after{
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--themeRed);
    position: absolute;
    top: 79%;
    left: 48%;
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid white;
}

/* Common Styles Ends For All Elements */

/* //////////////////////////////////////////////////////////////////// */

/* Home Style Start */

header{
    width: 100%;
    background: linear-gradient(180deg, #0000009e, #909090b0 60%, #0000009c 200%);
    position: fixed;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .container .logo{
    padding: 15px 0;
    height: 75px;
}

header .container .logo img{
    height: 100%;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #e8ffd0;
    transition: 0.3s;
}

header nav ul li a:hover{
    background: linear-gradient(53deg, #e4fff0b3, #00000069 , #1a17177d)
}

.banner{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/father.jpg");
    background-size:cover;
    background-attachment: fixed;
}

.banner h1{
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 4px 4px 7px black;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
    letter-spacing: 5px;
} 

.banner h1 span{
    background:linear-gradient(#312b2b69, #30242438, #80a2a285, #6e5c5c85, transparent);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 5px;
}

.banner p{
    color: white;
    width: 50%;
    text-shadow: 4px 4px 7px black;
    margin-top: 15px;
}

.banner button{
    background:linear-gradient(14deg, #000000c2, #f1e7e79e);
    border: 0;
    outline: none;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 600 ;
    letter-spacing: 2px;
}

/* HOME Style Section Ends Here */

/* ///////////////////////////////////////////////////////////////////// */

/* About Section Starts */

#About .Your-Contribution-sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 10%;
    position: relative;
    height: 245px;
}

#About .Your-Contribution-sections >div{
    width: 30%;
    background: linear-gradient(#312b2b69, #00000038, #81a3a385, #6e5c5c85, #00000040);
    padding: 35px;
    color: #444;
    text-align: center;
    border-radius: 0px 45px 0px 45px;
    height: 215px;
    border: 1px solid #ccc;
    transition: 0.4s;
}

#About .Your-Contribution-sections >div:hover{
     width: 400px;
     margin-top: -20px;
     padding: 55px;
     height: auto;
}
 
#About .Your-Contribution-sections >div .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#About .Your-Contribution-sections >div p{
    font-size: 14px;
    margin-top: 15px;
}

#About .Your-Contribution-sections >div button{
    border: none;
    background:linear-gradient(14deg, #000000c2, #f1e7e79e);
    color: white;
    letter-spacing: 2px;
    outline: none;
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

#About .Your-Contribution-sections >div button:hover{
    background-color: #0170ff;
    color: #fff;
}

/* About Section Ends Here */

/* ////////////////////////////////////////////////////// */

/* Programs Section Starts Here */

.programs{
    background-color: #e2e2e2;
    width: 100%;
    height: 95vh;
}

.programs .Program-poster-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.programs .Program-poster-container .posters{
    background: linear-gradient(152deg, #00000087, #ffffff82);
    text-align: center;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: -7px 5px 10px #403d4185;
    position: relative;
    margin-bottom: 15px;
    margin-top: 30px;
}

.programs .Program-poster-container .posters .images{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.programs .Program-poster-container .posters .images:after{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    filter: grayscale(100%);
    transition: 0.6s;
}

.programs .Program-poster-container .posters:nth-child(1) .images,
.programs .Program-poster-container .posters:nth-child(1) .images:after{
    background-image: url(images/gettyi.jpg);
}

.programs .Program-poster-container .posters:nth-child(2) .images,
.programs .Program-poster-container .posters:nth-child(2) .images:after{
    background-image: url(images/gettyima.jpg);
}

.programs .Program-poster-container .posters:nth-child(3) .images,
.programs .Program-poster-container .posters:nth-child(3) .images:after{
    background-image: url(images/gettyimag.jpg);
}

.programs .Program-poster-container .posters:nth-child(4) .images,
.programs .Program-poster-container .posters:nth-child(4) .images:after{
    background-image: url(images/gettyimages.jpg);
}

.programs .Program-poster-container .posters:hover .images:after{
    top: 100% ;
}

.programs .Program-poster-container .posters .programTitle{
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    color: #444;
    letter-spacing: .5px;
}

.programs .Program-poster-container .posters .donationCount{
    font-size: 13px;
    font-weight: 600;
    color: #444;
    margin-top: 10px;
    letter-spacing: 1px;
}

.programs .Program-poster-container .posters .donationCount span{
    color: rgb(19, 84, 235);
}

.programs .Program-poster-container .posters button{
    position: absolute;
    left: 50%;
    background:linear-gradient(14deg, #000000c2, #f1e7e79e);
    color: #fff;
    transform: translate(-50%);
    bottom: -15px;
    border-radius: 60px;
    padding: 7px 15px;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* Program Section Ends Here */

/* ///////////////////////////////////////////////// */

/* Education Section Starts Here */

.education{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.education .videoplayer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.education .sectionTitle{
    color: white;
    text-shadow: 0 0 4px black;
}

.education .educationContainer{
    position: absolute;
    background: linear-gradient(#326f82b3, #414340bf, #202525ba, #2e3c40b3, #3e42a354);
    width: 600px;
    top: 35vh;
    color: white;
    text-shadow: 0 0 3px black;
    padding: 30px;
}

.education .educationContainer h3{
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 3px;
}

.education .educationContainer p{
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0 30px;
    letter-spacing: 2s px;
}

.education .educationContainer button{
    background:linear-gradient(14deg, #000000c2, #f1e7e79e);
    border: 0;
    color: white;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    outline: none;
}

/* Education Section Ends here */

/* ////////////////////////////////////////////////////////// */

/* Gallery Section Starts Here */

.gallery{
    height: 120vh;
}

.gallery .galleryContainer{
    column-count: 4;
    column-gap: 20px;
}

.gallery .galleryContainer .items{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery .galleryContainer img{
    width: 120%;
    display: block;
    transition: 0.4s;
}

.gallery .galleryContainer .title{
    position: absolute;
    background: linear-gradient(45deg, #e2cd16db, #ed57579e);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    opacity: 0;
    z-index: 1;
    transition: 0.4s;
}

.gallery .galleryContainer .items:hover .title{
    opacity: 1;
}

.gallery .galleryContainer .items:hover img{
    transform: scale(1.2);
}

/* Gallery Section Ends here  */

/* /////////////////////////////////////////////////////////////// */

/* JOIN Section Starts Here */

.join{
    background-image: url(images/grey.jpg);
    /* opacity: .8; */
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.join .joinTitle{
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 100;
    color: #1bdac3;
}

.join .joinTitle span{
    font-weight: 800;
}

.join button{
    padding: 7px 15px;
    margin-top: 20px;
    border: 0;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    margin-right:10px;
    letter-spacing: 2px;
}

.join .joinNow{
    background:linear-gradient(14deg, #000000c2, #f1e7e79e);
    color: white;
}

.join .Adopt{
    background:linear-gradient(14deg, #000000c2, #f1e7e79e);
    color: white;
}

/* JOin Section Ends Here  */

/* ////////////////////////////////////////////////////////// */

/* Footer Section starts here  */

footer{
    background: linear-gradient(297deg, #039390cc 30%, #0b0508 100%);
    color: white;
    padding: 50px 0;
    font-size: 14px;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
}

footer .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    padding: 0 0 5px 0;
    letter-spacing: 2px;
}

footer p{
    margin-bottom: 10px;
}

footer .linksContainer ul{
    list-style-type: none;
}

footer .linksContainer ul li a{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 1rem;
}

footer .newsletterContainer img{
    height: 40px;
    margin-bottom: 11px;
}

footer .newsletterContainer input{
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
    color: #CCC;
    border-radius: 30px;
}
/* Footer Ends HEre */

/* ////////////////////////////////////////////////////////// */

/* Responsive Code Starts Here */

@media screen and (max-width: 1140px){
    .container{
    width: 100%;
    padding: 0 15px;
    }
}

@media screen and (max-width: 1080px){
    .banner h1{
        margin-top: 200px;
    }

    #aboutSection .images{
        justify-content: space-around;
        height: auto;
    }

    #aboutSection .images >div{
        margin: 10px 0;
    }
}






